@{
    Color = "White"
    HightLight = "Green"
    Width = 100 
    PasswordLength = 20 # Password Length for ramdom generation
    DaysBeforeWarning = 90 #Days max for show date in warning
    DaysBeforeAlert = 120 #Days max for show date in alert
    UserAdditionalAttributes = "flags","msDS-cloudExtensionAttribute1","msDS-cloudExtensionAttribute2","msDS-cloudExtensionAttribute3" #List of additionals attributes to show
}


